/* Regole Generali Css */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000;
}



/* Regole css Header */

header{
    height: 80px;
    width: 100%;
    position: relative;
    background-color: #000;
    /* Debug
    border-bottom: 2px solid grey; */
}

.tools-bar{
    position: absolute;
    right: 0;
    bottom: 10px;
}

.tools-bar a{
    text-decoration: none;
    background-color: gray;
    border-radius: 3px;
    color: #fff;
    padding: 5px;
    margin-right: 5px;
}

/* Regole css Main */

main{
    height: calc(100vh - 160px);
    padding: 0 50px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    
}

.videocam{
    height: 100px;
    width: calc( 100% / 7 - 10px);
    margin: 5px 5px;
    position: relative;
    /* Debug
    background-color: white; */
}

.videocam img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.microphone{
    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
    background-color: rgba(75, 73, 73, 0.8);
    padding: 5px;
    font-size: 15px;
}

.microphone a{
    color: #fff;
}

/* Regole css del Footer */

footer{
    height: 80px;
    width: 100%;
    background-color: #222222;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    /* Debug
    border-top: 2px solid grey; */
}

.bar{
    display: flex;
    align-items: center;
    color: #fff;
    padding-left: 20px;
}

footer h6{
    font-size: 15px;
    font-weight: 200;
}

.bar ul{
    display: flex;
    gap: 20px;
    font-size: 25px;
    list-style-type: none;
    text-align: center;
}

li a{
    color: #fff;
}

.fa-share-from-square{
    color: green;
}

.fa-angle-up{
    font-size: 10px;
}

.end-meeting{
    background-color: gray;
    width: 120px;
    height: 100%;
    position: relative;
}

.end-meeting a{
    font-size: 10px;
    color: red;
    text-decoration: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}